/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 50px;
}

.profile-pic {
    width: 50%; /* Takes half of the screen */
    height: 100vh; /* Full height */
    object-fit: cover; /* Ensures the image fills the area */
    border-radius: 0; /* No rounded corners */
}

.header-text {
    width: 50%; /* Takes the other half */
    text-align: left;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin: 0;
    font-size: 3em;
}

p {
    margin: 10px 0;
    font-size: 1.5em;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

section {
    background: white;
    margin: 0;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #e3e3e3;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
